body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.loading-container {
	display: flex;
	height: 300px;
	justify-content: center;
	align-items: center;
}

h1 {
	margin-bottom: 0;
}

.tick line {
	stroke: #c0c0bb;
}

.tick text {
	fill: #635f5d;
}

.mark {
	fill: #137b80;
}

.mark.selected {
	fill: #ffa500;
}

.axis-label {
	font-size: 2.5em;
	fill: #635f5d;
}

.menus-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.dropdown-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 5px;
}

.dropdown-label {
	font-weight: bold;
}

.Dropdown-root {
	font-size: 0.8em;
	width: 220px;
	display: inline-block;
}
.Dropdown-menu {
	max-height: 400px;
}

.entity-statistics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.entity-statistics h2 {
	margin: 0;
	text-align: center;
}

table {
	width: 250px;
	border-collapse: collapse;
}

td,
th {
	border: 2px solid #000;
	text-align: left;
	padding: 8px;
	font-weight: bold;
}

th {
	background-color: #137b80b9;
}

.statistics-title {
	background-color: #333;
	color: #fff;
}
